div.projects {
  .project-item {
    &.bg-gray {
      background: $gray-soft;
    }
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .project-tech {
    display: flex;
    align-items: center;
    h4 {
      font-size: 1.5rem;
      font-weight: bold;
    }
    .project-tech-list {
      font-size: 1.5rem;
      color: $purple-dark;
      margin-left: 1.5rem;
      font-weight: bold;

    }

  }
}