.contacto {
  margin-top: 26px;
  position: relative;
  padding: 50px 0;
  background: url(/assets/images/coding-mobile.png) no-repeat top left;

  @media screen and (min-width: $desktop-BP) {
    background: url(/assets/images/keyboard-coffee-background.png) no-repeat center 85%;
    padding: 100px 0;
  }

  & > div {
    &.bg-gradient {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: $purple-dark;
      background: linear-gradient(
        90deg,
        $purple-dark-rgb 35%,
        $purple-soft-rgb 100%
      );
      z-index: 2;
    }

    &.contacto-texto {
      position: relative;
      z-index: 2;
      .contacto-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        & > div {
          &.datos-contacto {
            text-align: center;
            h1 {
              font-size: 2.5rem;
              color: $white;
              margin-bottom: 40px;
              font-weight: 300;

              @media screen and (min-width: $tablet-BP) {
								font-size: 3rem;
							}

              @media screen and (min-width: $desktop-BP) {
                font-size: 5rem;
              }
            }
          }

          &.email,
          &.whatsapp,
          &.git-hub,
          &.linkedin {
            > a {
              display: flex;
              justify-content: center;
              flex-direction: column;
              align-items: center;
              text-decoration: none;
              margin-bottom: 30px;
              @media screen and (min-width: $desktop-BP) {
                flex-direction: row;
              }

              img {
                width: 20%;
                height: auto;
                filter: invert(1);
                padding-bottom: 15px;
                @media screen and (min-width: $tablet-BP) {
                  width: 15%;
                }

                @media screen and (min-width: $desktop-BP) {
                  width: 3.5%;
                }
              }

              span {
                color: $white;
                font-size: 1.6rem;
                text-align: center;
                font-weight: 100;

                @media screen and (min-width: $tablet-BP) {
                  font-size: 2rem;
                }
                @media screen and (min-width: $desktop-BP) {
                  margin-left: 30px;
                  font-size: 3rem;
                }
              }
            }
          }
        }
      }
    }

    /*   & > .email {
      justify-content: center;
    } */
  }
}
