//Variables(Colors)
$white: #fff;
$dark: #333333;
$green:#a3bd31;
$purple-soft: #8336b4;
$purple-soft-soft: #ab0bb9;
$purple-dark: #5514a5;
$purple-dark-1: #3c0e74;
$gray-soft: #dcdcdc;
$gray-soft-1: #f3f3f3;
$purple-dark-rgb: rgba(85, 20, 165, 0.7);
$purple-soft-rgb: rgba(131, 54, 180, 1);

//Medias Query
$mobile-small-BP: 400px;
$mobile-BP: 640px;
$tablet-BP: 768px;
$desktop-BP: 1024px;
$desktop-big-BP: 1200px;
$desktop-extra-big-BP: 1450px;
$desktop-max-big-BP: 1600px;

// Normalize
@import './vendor/normalize.scss';

//Fragments
@import './fragments/animations.scss';
@import './fragments/buttons.scss';
@import './fragments/typography.scss';
@import './fragments/card.scss';

//Navigation
@import './navigation/main-footer.scss';
@import './navigation/main-nav.scss';

//HeroSlider
@import './components/hero/hero-slider.scss';

// Tech skills
@import './components/tech-skills/tech-skills.scss';

// Soft skills
@import './components/soft-skills/soft-skills.scss';

// Projects
@import './components/projects/projects.scss';

// Contact
@import './components/contact/contact.scss';

//Vendor
@import './vendor/animations.scss';

//General styles
@import './style.scss';

html {
	font-size: 62.5%;
}

body {
	font-family: $ff-poppins;
	padding-top: 6rem;
}

