//Variables(Colors)
$white: #fff;
$dark: #333333;
$green:#a3bd31;
$purple-soft: #8336b4;
$purple-dark: #5514a5;
$gray-soft: #dcdcdc;
$purple-dark-rgb: rgba(85, 20, 165, 0.7);
$purple-soft-rgb: rgba(131, 54, 180, 1);

//Medias Query
$mobile-small-BP: 400px;
$mobile-BP: 640px;
$tablet-BP: 768px;
$desktop-BP: 1024px;
$desktop-big-BP: 1200px;
$desktop-extra-big-BP: 1450px;
$desktop-max-big-BP: 1600px;

//Fragments
@import 'fragments/animations.scss';
@import 'fragments/buttons.scss';
@import 'fragments/typography.scss';
@import 'fragments/card.scss';

//Navigation
@import 'navigation/main-footer.scss';
@import 'navigation/main-nav.scss';

//HeroSlider
@import 'components/hero/hero-slider.scss';

// Tech skills
@import 'components/tech-skills/tech-skills.scss';

//Vendor
@import 'vendor/animations.scss';


html {
	font-size: 62.5%;    
}

body {
font-family: $ff-sans-serif;
}


