.container {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

.gradient-title {
	background: linear-gradient(to left, $purple-dark, $purple-soft-soft);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	font-size: 5rem;
	text-align: center;
}

ul {
	&.is-inline {
		padding: 0;
		margin: 0;
		list-style-type: none;
		display: flex;
		flex-direction: row;
	}
}

/* ol, ul {
	padding: 0;
	margin: 0;
	li {
		padding: 0;
		margin: 0;
	}	
} */

h3 {
	font-size: 3rem;
	color: $dark;
}

h4 {
	font-size: 2.2rem;
	color: $dark;
	font-weight: normal;
}

.is-green {
	color: $green;
}

p, li {
	font-size: 1.9rem;
}

.text-centered {
	text-align: center;
}

.v-align-center {
    display: flex;
    align-items: center;
		justify-content: center;
}


.hide-on-small-only {
	display: none;
	@media(min-width: $tablet-BP) {
		display: block;
	}
}
.hide-on-med-and-down {
	display: none;
	@media(min-width: $desktop-BP) {
		display: block;
	}
}
.hide-on-large-and-up {
	display: block;
	@media(min-width: $desktop-BP) {
		display: none !important;
	}
}
.hide-on-med-and-up {
	display: block;
	@media(min-width: $tablet-BP) {
		display: none !important;
	}
}