.hero-slider {
  margin-top:7rem;
  & > div {
    position: relative;
    & > img {
      &.bg-image {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
      }
    }
    & > span { 
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgb(66,111,242);
      background: linear-gradient(90deg, rgba(66,111,242,0.7399334733893557) 35%, rgba(105,7,179,1) 100%);
      z-index: 2;
    }
    & > div {
      &.grid {
        display: grid;
        grid-template-columns: 0.7fr 1fr;
        position: relative;
        z-index: 3;

        & > div {
          font-size: 2.5rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color: white;
        }
      }
    }
  }
}


